.box{
    display: flex;
    border:1px solid black;
    gap: 10px;
    width: 520px;
    align-items: center;
    padding: 5% 4%;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;


}
.box>div>img{
    width: 66px;
}
.sp{
    color: rgb(10,128,128);
    text-decoration: underline;
}
