.newaccount{
    display: grid;
    grid-template-columns: repeat(2,550px);
    
    gap: 50px;
    justify-content: space-evenly;


}
.box{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.nw{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}